// Mixins Here
// Mixins in here


.mixin(@color,@font-size,@background-color,@width) {
    color: @color;
    font-size: @font-size;
    background-color: @background-color;
    width: @width;
    height: 40px;
 }
 .border(@border-radius){
    border-radius: @border-radius;
 }

 .font(@font-family){
    font-family: @font-family;
 }
 
 .grayColor{
    background-color: rgb(230, 222, 222);
 }
 


