// Navigation code here

.top-bar{
    .grayColor();
    padding-top:20px;
    margin-left: 20px;
    padding-bottom: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    display: flex;    
}
.top-bar .logo{
    margin-left: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 20px;
    color:rgb(3, 3, 70);
    font-size: 50px;
    //animation
    animation-duration: 5s;
    animation-name: slidein;
    
}


@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}  
.top-bar nav{
    margin-left: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.top-bar nav a{
    text-decoration: none;
    padding-left: 15px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    

}